*,
::after,
::before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
*:focus{
    outline: none !important;
}
:root{
    --color-g: #808080;
    --color-b: #161616;
    --font-p: 'Pacifico', sans-serif;
    --font-l: 'Lato', sans-serif;
    --Font-v: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-b);
    font-size: 1rem;
    position: relative;
}
ul li{
    padding-left: 8px;
}
.wrapper{
    position: relative;
    width: 94%;
    padding: 2rem;
    border: 1.6rem solid  var(--color-g);
    margin: 0 auto;
    max-width: 77em;
    opacity: 0;
    animation-name: moveEffect;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}
.header{
    margin-top: 2rem;
}
.header-info{
    text-align: center;
}
.header .header-name{
    margin-bottom: 1rem;
}
.header .title-name{
    font-size: 2.5rem;
    font-size: 3vw;
    letter-spacing: -2.5px;
    font-weight: 800;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.header .title-name-light{
    color: var(--color-g);
}
.header address{
    font-style: normal;
}
.header .header-details p:nth-child(2){
    font-weight: 500;
    letter-spacing: 0.2px;
}
.header .header-details p:nth-child(3),
.header .header-details p:nth-child(4){
    white-space: nowrap;
}
.header .header-details p:nth-child(3) a{
    
}
.header .header-details p:nth-child(3) a:hover{
    background: rgba(255, 255, 0, 0.2);
    color: var(--color-b);
    box-shadow: 0px 2px 10px rgba(255, 255, 0, 0.2);
}
.header .header-details p:last-child a{
    cursor: pointer;
    text-decoration: none;
    color: var(--color-b);
    transition: color 0.3s;
}
.header .header-details p:last-child a:hover{
    color: var(--color-g);
}
.header .header-details a:nth-child(2){
    letter-spacing: 0.2px;
    color: #00008d;
}
.articles{
    margin: 2rem auto;
    opacity: 0;
    animation-name: moveEffect;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.articles .article-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #bdbdbddb;
    padding: 2rem 0;
}
.articles .article-text{
    width: 15vw;
}
.article-text .text-name{
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.articles .article-content{
    width: 85vw;
}
.article-content .skill{
    display: flex;
    justify-content: start;
}
.articles .skill ul{
    padding: 0 2rem;
    text-transform: capitalize;
}
.articles .skill ul:nth-child(2){
    margin: 0 auto;
}
.experience{
    margin-bottom: 1rem;
}
.experience .date{
    float: right;
}
.experience h4{
    clear: both;
}
.experience ul{
    padding: 0 2rem;
}
.addition-skill li{
    list-style: none;
    padding: 0;
}
.screen-size{
    display: none;
    justify-content: center;
    align-items: center;
}
.view{
    width: 2rem;
    pointer-events: visible;
    height: 2rem;
    border-radius: 50%;
    border: 3px dotted var(--color-g);
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    opacity: 0;
    animation-name: blickCircle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    transition: border 0.3s;
}
.view:hover{
    border: 3px solid var(--color-g);
    animation-play-state: paused;
}
/* =============================================== */
/* Animation behaviour */
@keyframes blickCircle{
    0%{
        opacity: 0;
        visibility: hidden;
    }
    50%{
        opacity: 1;
        visibility: visible;
        cursor: pointer;
    }
}
@keyframes moveEffect{
    0%{
        transform: translateY(200px)rotateY(-30deg);
    }
    100%{
        transform: translateY(0)rotateY(0);
        opacity: 1;
    }
}
/* ========================================= */
/* ========================================== */
/* Responsiveness.. */
@media(min-width: 1600px){
    .header .title-name{
        font-size: 2.5rem;
    }
}
@media(max-width: 1110px){
    .articles .article-text{
       font-size: inherit;
    }
    .articles .article-content{
        width: 65vw;
    }
}
@media(max-width: 900px){
    body{
        font-size: 0.9rem;
    }
    .header .title-name{
        font-size: 2.2rem;
    }
}
@media(max-width: 845px){
    .articles .article-content{
        width: 62vw;
    }
}
@media(max-width: 780px){
    .articles .article-container{
        flex-direction: column;
    }
    .articles .article-content{
        width: 100%;
    }
    .articles .article-text{
        width: auto;
    }
    .articles .article-text{
        margin-bottom: 0.6rem;
    }
    ul li{
        padding-left: 1px;
    }
}
@media(max-width: 630px){
   .articles .skill{
       display: block;
   }
}
@media(max-width: 714px){
    .wrapper{
        padding: 1rem;
        border: 1rem solid var(--color-g) ;
    }
    .header .title-name{
        font-size: 1.9rem;
        letter-spacing: -0.5px;
    }
}
@media(max-width: 660px){
    .header-info{
        text-align: start;
    }
}
@media(max-width: 460px){
    .header .title-name{
        font-size: 1.4rem;
    }
}
@media(max-width: 380px){
    .header .header-details p:nth-child(3),
    .header .header-details p:nth-child(4)  {
        white-space: normal;
        word-break: break-all;
    }
    .wrapper{
        border: 0.5rem solid var(--color-g);
    }
}
@media(max-width: 230px){
    .wrapper{
        margin: 2rem auto;
        border: 0.5rem solid red;
        overflow: hidden;
    }
    .articles, .header{
        display: none;
    }
    .screen-size{
      display: flex;
    }
}
